
.disk_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: relative;
    background-color: #f0f0f0;
}

@keyframes rotate {
    0% { transform: scale(1.4) rotate(0deg); }
    100% { transform: scale(1.4) rotate(360deg); }
}

.disk {
    border-radius: 50%;
    object-fit: cover;
    position : absolute;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.7s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}
.disk_hole {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
}

.disk_top {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0; left: -15%;
    z-index: 1;
    filter: brightness(0.8);
    opacity: 0.6;
}

.disk_bot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    bottom: 0; left: -15%;
    z-index: 1;
    filter: brightness(0.8);
    opacity: 0.6;
}

// .disk:hover {
//     animation: rotate 10s linear infinite;
// }

.disk_main {
    transform: scale(1.4);
    width: 140%;
    height: 140%;
    animation: rotate 10s linear infinite;

    z-index: 10;
}

.disk_main:hover {
    transform: scale(1.4);
}

.disk_hide {
    display: none;
}