
.carousel_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    transition: all 0.7s ease-in-out;
    scroll-padding: 0;
}

.video {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;    
    filter: brightness(0.8);
    opacity: 0.4;
    z-index: 2;
}
.video:hover {
    transform: scale(1.1);
}

.video_main {
    right: 0%;
    border-radius: 4px;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.4);
    filter: brightness(1);
    opacity: 1;
}